@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.min.css";
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .backdrop-blur-md {
    -webkit-backdrop-filter: blur(8px); /* Safari */
    backdrop-filter: blur(8px);
  }

  .swiper-button-next,
.swiper-button-prev {
  @apply text-light-secondary;
}
.dark .swiper-button-next,
.dark .swiper-button-prev {
  @apply text-dark-secondary;
}